body
    background-image url('/bg.png')
    background-repeat: no-repeat
    background-size: cover

.main-banner
    background-color: #FBFF32
    margin-top: 86px
    height: 177px
    width: 1055px

    h1
        font-size: 100px
        font-weight: 600
        line-height: 80px
        font-family: Montserrat, sans-serif