.lightbox-thumbnail {
  border: 5px solid #fff;
  box-shadow: 0 1px 2px #bbb;
  transition: all 0.3s; }
  .lightbox-thumbnail:hover {
    box-shadow: 0 0 6px #29e; }

.lightbox-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #000;
  cursor: pointer; }

.lightbox-loading {
  position: fixed;
  width: 100px;
  height: 94px;
  z-index: 1001;
  font: italic 24px/74px "Helvetica Neue", Arial, sans-serif;
  color: #77f;
  text-align: center;
  cursor: pointer; }

.lightbox {
  position: fixed;
  opacity: 0;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 1002;
  padding-top: 10px;
  font-family: Helvetica Heue, Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0 0 5px black; 
}

.lightbox-title {
  padding: 5px 10px 10px 15px;
  text-align: left;
  opacity: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  display: block;
  background-color: #ffffff;
  color: #000000; }
  .lightbox-title span {
    margin: 0; }

.lightbox-nav {
  width: 100%;
  padding: 0 5px 5px 10px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  background-color: transparent; }
  .lightbox-nav a#close {
    font-size: 25px;
}
  .lightbox-nav span {
    padding: 3px 0;
    color: grey;
    font-size: 16px; }
  .lightbox-nav a#next,
  .lightbox-nav a#prev {
    margin: -8px 2px 0;
    padding: 10px 10px;
    z-index: 1000000;
    font-size: 50px;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 90%;
    bottom: 0;
    position: absolute;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer; 
    opacity: .5;
  }
    .lightbox-nav a#next{
      right: 0;
    }
    .lightbox-nav a#prev{
      left: 0;
    }
    .lightbox-nav a#next i,
    .lightbox-nav a#prev i
    {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -50px;
      padding: 20px;
    }
    .lightbox-nav a#prev i{
      left:0;
    }
  .lightbox-nav a#next:hover,
  .lightbox-nav a#prev:hover {
    color: #777; }
    #count{
      padding: 20px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
.lightbox img {
  opacity: 0;
  margin: 0 10px;
  padding: 0; }
