.contact-info{
    border: 2px solid rgb(172,116,67);
    margin: 20px;
}
p.contact-info-head{
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Turret Road', cursive;
}
p{
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    font-size: 1.2em;
}
body{
    height: 100vh;
}
.footer{
    position: absolute;
    bottom:0;
}
@media screen and (max-width:500px){
    .footer{
        font-size: .9em;
        flex-direction: column;
        height: fit-content;
    }
    .footer div{
        margin: 3px 0;
    }
}
@media screen and (max-width:374px){
    .footer{
        font-size: .9em;
        position: relative;
    }
}