*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    align-items: center;
    gap: 20px;
}
main div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    display: none;
    position: relative;
    padding: 20px;
}
.header::after{
    content: '';
    width: 80px;
    height: 3px;
    background-color: rgb(172,116,67);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -45px;
}
body{
    height: 100vh;
}
.lightbox-thumbnail{
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}
.lightbox-nav a#next,
    .lightbox-nav a#prev{
        padding: 0;
        font-size: 30px;
    }
    .lightbox-nav a#close{
        width: 40px;
        height: 40px;
    }
    .lightbox-nav a#prev i,
    .lightbox-nav a#next i{
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 30px;
    }
@media screen and (max-width: 1312px){
    body{
        height: fit-content;
    }
    main{
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        margin-bottom: 100px;
    }
    g-min{
        height: 200px;
        width: 200px;
    }
    .lightbox-thumbnail{
        width: 400px;
        height: 430px;
        margin: 50px auto;
    }
    .header{
        display: block;
        font-family: 'Orbitron', sans-serif;
        font-family: 'Turret Road', cursive;
        font-size: 3em;
        text-align: center;
        margin: 20px;
    }
    .lightbox-nav a#next,
    .lightbox-nav a#prev{
        padding: 50px 0%;
        font-size: 30px;
    }
    .lightbox-nav a#close{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 847px){
    main{
        grid-template-columns: repeat(2,1fr);
    }
    .lightbox-thumbnail{
        height: 200px;
        width: 200px;
        margin: 50px auto;
    }
    .lightbox-nav a#next,
    .lightbox-nav a#prev{
        padding: 0px 0%;
        font-size: 25px;
    }
    .lightbox-nav a#prev i,
    .lightbox-nav a#next i{
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width: 455px){
    main{
        grid-template-columns: repeat(1,1fr);
    }
    .lightbox-thumbnail{
        height: 250px;
        width: 250px;
        margin: 50px auto;
    }
}
@media screen and (max-width: 350px){
    .lightbox-thumbnail{
        height: 200px;
        width: 200px;
        margin: 50px auto;
    }
    .lightbox-loading{
        top: 270px;
    }
}
@media screen and (max-width: 847px){
    .lightbox-nav a#next,
    .lightbox-nav a#prev{
        font-size: 20px;
    }
    .lightbox-nav a#close{
        font-size: 20px;
        padding: 20px;
    }
    .lightbox-nav span#count{
        font-size: .9em;
    }
}