*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #c19a6b2d;
}
html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
a{
    text-decoration: none;
    color: black;
    padding: 30px;
}
a:visited{
    color: black;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    transition: .4s;
}
#nav-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-el{
    margin: 30px;
    padding: 30px;
    position: relative;
    margin-right: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    cursor: pointer;
    transition: .3s;

}
.nav-el:hover:after{
    width: 100%;
}
.nav-el:after{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    content: '';
    background-color: rgb(172,116,67);
    transition: .3s;
}
.swiper-container{
    height: 600px;
}
#slide1{
    background-image: url('images/sliderphotos/slider1.jpg');
}
#slide2{
    background-image: url('images/sliderphotos/slider2.jpg');
}
#slide3{
    background-image: url('images/sliderphotos/slider3.jpg');
}
#slide4{
    background-image: url('images/sliderphotos/slider4.jpg');
}
#slide5{
    background-image: url('images/sliderphotos/slider5.jpg');
}
#slide6{
    background-image: url('images/sliderphotos/slider6.jpg');
}
#slide7{
    background-image: url('images/sliderphotos/slider7.jpg');
}
.swiper-slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#logo{
    font-family: 'Orbitron', sans-serif;
    font-family: 'Turret Road', cursive;
    font-size: 3.5em;
    width: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#logo a{
    text-decoration: none;
    color: black;
}
#logo a:visited{
    color: black;
}
.brown-end{
    color: rgb(172,116,67);
}
#our-service{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 50px;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    font-size: 2.5em;
}
#our-service:after{
    position: absolute;
    content: '';
    bottom: 0;
    width: 90px;
    height: 3px;
    background-color: rgb(172,116,67);
}
#serv-one{
    background-image: url('images/main-bg.jpg');
}
.services{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.services div{
    text-align: center;
    font-size: 2em;
    width:550px;
    height: 500px;
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .6s;
    overflow: hidden;
    cursor: pointer;
}
.services div .hover-me{
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    background-color:  rgba(172, 116, 67, 0.726);
    display: flex;
    margin: 0;
    margin-left: -100%;
    transition: .6s;
}
.services div:hover .hover-me{
    margin-left: 0;
}
.why-us-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('images/whyus.jpg');
    background-size: cover;
    margin: 200px auto;
    background-attachment: fixed;
    height: 500px;
}
.why-us-header{
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
    margin: 50px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.why-us-header:after{
    position: absolute;
    content: '';
    bottom: 0;
    width: 90px;
    height: 3px;
    background-color: rgb(172,116,67);
}
.why-us{
    font-size: 1.3em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    width: 60%;
    margin: 40px;
    color: white;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: rgba(172, 116, 67, 0.486) ;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
}
#obi{
    background-image: url('images/obi.png');
}
#merlin{
    background-image: url('images/merlin.png')
}
#koszalka{
    background-image: url('images/koszalka.jpg')
}
@media screen and (max-width: 1312px) {
    .nav-bar{
        flex-direction: column;
        position: absolute;
        z-index: 100000;
        background-color: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 250px;
        right: -100%;
        position: fixed;
        transition: .4s ease-in-out;
        top: 20px;
        height: 100vh;
        width: 30%;
        justify-content: start;
    }
    body{
        width: 100vw;
    }
    .nav-el{
        padding: 20px;
    }
    .show-menu{
        right: 0;
    }
    #logo{
        width: 100%;
        padding: 30px;
    }
    #nav-buttons{
        flex-direction: column;
    }
    .nav-el{
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 2em;
    }
    .nav-el:after{
        display: none;
    }
    .services{
        flex-direction: column;
    }
    .services div{
        width: 80%;
        height: 300px;
        background-size: cover;
    }
    .services div .hover-me{
        margin-left: 0;
        color: white;
        font-size: 1em;
    }
    #our-service{
        font-size: 1.6em;
    }
    .why-us-box{
       margin-top: 100px;
       background-attachment: scroll;
       margin-bottom: 50px;
    }
    .why-us-header{
        margin: 0;
    }
    .why-us{
        margin: 0;
        padding: 30px;
        width: 100%;
        font-size: 1.2em;
    }
    /* hamburger menu */
    .menu-btn{
        left: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        transition:  all .4s ease-in-out;
        border: 3px solid black;
        z-index: 150;
        cursor: pointer;
        background-color: rgba(172, 116, 67, 0.842);
        top: 20px;
        overflow: hidden;
        position: fixed;
    }
    .menu-btn__burger{
        width: 35px;
        height: 5px;
        background-color: black;
        border-radius: 15px;
        box-shadow: 0 2px 5px rgba(172, 116, 67, 0.486);
        transition: all .4s ease-in-out;
    }
    .menu-btn__burger::before,
    .menu-btn__burger::after{
        content: '';
        position: absolute;
        width: 35px;
        height: 5px;
        background-color: black;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(172, 116, 67, 0.486);
        transition: all .4s ease-in-out;
    }
    .menu-btn__burger::before{
        transform: translateY(-14px);
    }
    .menu-btn__burger::after{
        transform: translateY(14px);
    }
    /* ANIMATION */
    .menu-btn.open .menu-btn__burger{
        transform: translateX(-50px);
        background-color: transparent;
        box-shadow: none;
    }
    .menu-btn.open .menu-btn__burger::before{
        transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn__burger::after{
        transform: rotate(-45deg) translate(35px, 35px);
    }
    .backDrop{
        height: 100%;
        width: 100vw;
        z-index: 100;
        position: absolute;
        transition: .4s;
        display: none;
    }
  }
 @media screen and (max-width: 1024px) and (min-width: 416px ){
    .nav-bar{
        width: 350px;
        height: 400px;
    }
 }
 @media screen and (min-height: 320px) and (max-height: 512px){
     .nav-bar{
         top:10px;
         height: 340px;
         width: 250px;
     }
     .nav-el{
        font-size: 1.1em;
     }
 }
 @media screen and (max-height: 320px){
    .nav-el{
        font-size: .9em;
        padding: 10px;
    }
    .nav-bar{
        height: 300px;
    }
 }
 @media screen and (max-height: 280px){
    .nav-el{
        font-size: 1em;
        padding: 10px;
    }
    .nav-bar{
        height: 250px;
        width: 300px;
    }
    #logo{
        padding: 10px;
    }
 }
  @media screen and (max-width: 540px){
    .nav-bar{
        width: 40%;
        height: 45%;
    }
    .menu-btn{
        height: 50px;
        width: 50px;
        left: 75%;
    }
    .nav-el{
        font-size: 100%;
    }
  }
  @media screen and (max-width: 415px) {
    .nav-bar{
        width: 250px;
        height: 450px;
    }
    .swiper-container{
        height: 300px;
    }
    .menu-btn{
        height: 50px;
        width: 50px;
    }
    .nav-el{
        font-size: 150%;
    }
  }
  @media screen and (max-width: 320px){
    .nav-bar{
        width: 200px;
        height: 450px;
    }
  }
  @media screen and (max-width: 280px){
    .nav-bar{
        width: 70%;
        height: 60%;
    }
    .menu-btn{
        height: 50px;
        width: 50px;
        left: 75%;
    }
    .nav-el{
        font-size: 100%;
    }
  }
